<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Account">
            <directory suffix="Test.php">./Account/test</directory>
        </testsuite>
        <testsuite name="Payment">
            <directory suffix="Test.php">./Payment/test</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./Account/src</directory>
            <directory suffix=".php">./Payment/src</directory>
        </include>
        <report>
            <html outputDirectory="/Coverage/html"/>
        </report>
    </coverage>
</phpunit>
